// !{variable name} this for using the passed in data
html
  head
    //| !{p1}
    title Read Manga
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no")
    style 
        include /css/navbar.css
    style
        include /css/style.css
    script(src="https://kit.fontawesome.com/9c2fbbf0d7.js")
  body(style="margin:0px")
    include includes/navbar.pug
    include includes/reusableProps.pug
    div#main
        div.adminCardParent
            div.admin_card
                div.admin_top
                    i(class="far fa-thumbs-up")
                    span &nbsp;Admin Recommendation
                div.admin_back
                    +adminRecd(adminRecd)
            img(src="https://releasedate.news/wp-content/uploads/2021/05/Dont-Toy-with-Me-Miss-Nagatoro-Episode-4-Release-Date-1024x564.jpg", width="347")
        div(style="margin-top:25px")
            div.admin_top
                a(href="#",style="font-size:18px; color:white;")
                    i(class="fas fa-fire-alt")
                    span &nbsp;Hot Update
            div#hot_update(class="hot_update")
                +hotUpdate(hotMangaUpdated)
        div#hotMonth(class="admin_top")
            a.admin_hover_text(style="font-weight: 600;color:#007bff") Hot Manga This Month
            +hotMangaOfMonth(hotMangaThisMonth)
        div(style="margin-top:25px;")
            div.admin_top
                a(href="#",style="font-size:18px; color:white;")
                    i(class="fas fa-address-book")
                    span &nbsp;Recommended for you
            div#recdForYou(class="hot_update")
                // item recommned for the reader
                img#loading(src="/images/loading.svg",width="80",style="margin:auto;")
        div(style="margin-bottom:100px;")
            div.admin_top(style="margin-top:25px;")
                a(style="font-size:18px; color:white;")
                    i(class="fas fa-book")
                    span &nbsp;Latest Chapters
            div#latestChapters(class="hot_update")
                +LatestChapters(latestManga,hotMangaUpdated)
            div(style="background-color:white;padding:20px;",onclick="viewMoreChapters()")
                div#viewMoreChapters
                    span &nbsp;View More Chapters
    script
        include /js/index.js
    // arrys needed to update 
    script. 
        var latestChapters = !{JSON.stringify(latestManga).replace(/<\//g, '<\\/')}
        var hotManga = !{JSON.stringify(hotMangaUpdated).replace(/<\//g, '<\\/')}
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    //h1 !{message}