- var isBlocked = process.env['SERVERNAME'] == 'https://mangaapi.lavishkumar1.repl.co/' ? true : false;
doctype html
html(lang="en")
  head
    title !{SeriesName} | Magma Manga
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0") 
    meta(charset="UTF-8")
    meta(name="theme-color" content="#000000")
    meta(name="description",content=`Read ${SeriesName} on Magma Manga`)
    link(rel="manifest" href="/pwa.webmanifest")
    style 
      include /css/thin_navbar.css
    style
      include /css/style.css
    script(src="https://kit.fontawesome.com/9c2fbbf0d7.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js")
  body
    include includes/thin_navbar.pug
    include includes/reusableProps.pug
    div#main
      div(style="background-color:white;margin-top:30px;border-radius:8px 8px 0px 0px;padding:15px;")
        div(class="manga_info")
          if isBlocked
            img.manga_img(src="//axiostrailbaby.lavishkumar1.repl.co/sendImage/" + ("temp.compsci88.com/cover/normal" + IndexName + '.jpg').replaceAll('/', ' '))
          else  
            img(class="manga_img", src="https://temp.compsci88.com/cover/normal/" + mangaId + ".webp")
          div(style="margin-left:20px;flex:0 0 70%")
            ul.manga_info_ul
              li
                h1(style="margin:0px;padding:5px;") !{SeriesName}
              if AlternateNames != undefined
                li
                  span Alternate Name(s): 
                    each AlternateName in AlternateNames
                      span(style="font-weight:400;") !{AlternateName}
                      if AlternateName != AlternateNames[AlternateNames.length - 1]
                        span(style="font-weight:400;") ,&nbsp;
              if Authors != undefined
                li
                  span Author(s): 
                    each Author, indx in Authors
                      a(href="/manga/search") !{Author}
                      if indx < Authors.length - 1
                        span(style="font-weight:400;") ,&nbsp;
              if Genres != undefined
                li
                  span Genre(s): 
                    each Genre, indx in Genres
                      a(href="/manga/search") !{Genre}
                      if indx < Genres.length - 1
                        span(style="font-weight:400;") ,&nbsp;
              li 
                span Type:&nbsp;
                  a(href="/manga/search") !{Type}
              li 
                span Released: 
                  a(href="/manga/search") !{Released}
              li
                span Official Translation: 
                  a(href="/manga/search") !{Official_Translation}
              li
                span Status: 
                  a(href="/manga/search") !{Status}
              li
                span Anime Adaptation: 
                  a(href="/manga/search") !{Anime_Adaptation}
              li
                span Adult Content: 
                  a(href="/manga/search") !{Adult_Content}
              li 
                span Description: 
                  div #{Description}
        ul#Chapters_List
        include includes/comments.pug
    script
      include /js/index.js
    script.
      var IndexName = "!{IndexName}";
      var SeriesName = "!{SeriesName}";
      var mangaId = "!{mangaId}";
      var allChapters =  !{JSON.stringify(Chapters).replace(/<\//g, '<\\/')};
      var allChaptersRead = JSON.parse(window.localStorage.getItem('recentRead'));
    script
      include /js/mangaHtml.js
    